.topmenu {
	position: fixed;
	top: 20px;
	left: calc(50% - 192px);
	height: 35px;
	width: 384px;
	background-color: #0A0A0A;
/*	box-shadow: #0A0A0A 0px 2px 4px 0px;*/
	z-index: 10000;
	transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.topmenu:hover {
	filter: invert(1);
}

.topmenu_open {
	height: 520px;
	z-index: 10000;
	overflow: hidden;
	background-color: #0A0A0A;
	color: white;
}

.topmenu_open:hover{
	background-color: #0A0A0A;
	color: white;
}

.topmenu_button{
	position: fixed;
	overflow: hidden;
	top: 55px;
	left: calc(50% - 192px);
	height: 35px;
	width: 96px;
	text-align: left;
	background-color: #0A0A0A;
	color: white;
	z-index: 9000;
	transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    cursor: pointer;

}

.topmenu_button:hover{
	background-color: #FAFAFa;
	color: #0A0A0A;
}

.buttonA_on{
	background-color: #FAFAFa;
	color: #0A0A0A;
	transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.buttonB_on{
	background-color: #FAFAFa;
	color: #0A0A0A;
	transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}




/*.topmenu_button_on{
	position: fixed;
	overflow: hidden;
	top: 55px;
	left: calc(50% - 192px);
	height: 35px;
	width: 96px;
	text-align: left;
	background-color: #FAFAFa;
	color: #0A0A0A;
	z-index: 9000;
		background-color: #FAFAFa;
	color: #0A0A0A;
    cursor: pointer;
}*/

/*.topmenu_button_null{
	position: fixed;
	overflow: hidden;
	top: 55px;
	left: calc(50% - 192px);
	height: 35px;
	width: 96px;
	text-align: left;
	background-color: #0A0A0A;
	color: white;
	z-index: 9000;
	transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    cursor: pointer;
}*/



#button_a{

}

#button_b{
	left: calc(50% - 96px);
}

#button_c{
	left: calc(50%);
}

#button_d{
	left: calc(50% + 96px);
}


	#topmenu_name{
		position: absolute;
		left: 15px;
		top: 6px;
	}

	#topmenu_attributes{
		position: absolute;
		left: 110px;
		top: 6px;
	}

	.topmenu_icon{
		position: absolute;
		right: 15px;
		top: 12px;
		width: 10px;
		transition-duration: 0.4s;
    	-webkit-transition-duration: 0.4s;
	}

	.topmenu_icon_open{
		position: absolute;
		right: 15px;
		top: 16px;
		width: 10px;
		transform: rotate(225deg);
	}

	.bottommenu_icon{
		position: absolute;
		right: 15px;
		top: 12px;
		width: 10px;
		transition-duration: 0.4s;
    	-webkit-transition-duration: 0.4s;
	}

	.bottommenu_icon_open{
		position: absolute;
		right: 15px;
		top: 465px;
		width: 10px;
	}

	.nametext{
		position: absolute;
		left: 15px;
		top: 40px;
		opacity: 0.0;
		font-family: 'jr_mono';
		text-transform: uppercase;
		font-size: 10px;
		line-height: 22px;
		letter-spacing: -0.2px;
	}

	.nametext_open{
		position: absolute;
		left: 15px;
		top: 40px;
		opacity: 1.0;
		transition-duration: 0.4s;
    	-webkit-transition-duration: 0.4s;
	}

	.biotext {
		position: absolute;
		left: 110px;
		top: 40px;
		margin-right: 30px;
		opacity: 0.0;
	}

	.biotext_open {
		position: absolute;
		left: 110px;
		top: 40px;
		margin-right: 30px;
		opacity: 1.0;
		transition-duration: 0.4s;
    	-webkit-transition-duration: 0.4s;
	}

	#menu_spacer{
		padding-top: 30px;
	}
