.project{
	display: inline-block;
	position: fixed; 
	top: 0px;
	left: 200vw;
	height: 100vh;
	width: 100vw;
	overflow: scroll;
	background-color: #0A0A0A;
	opacity: 0.0;
	z-index: 8000;
	transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
}

.project_open{
	display: inline-block;
	position: fixed; 
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	overflow: scroll;
	background-color: #0A0A0A;
	opacity: 1.0;
	z-index: 10000;
	transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
}

.project_images{

}

#project_imageStyle{
	object-fit: cover;
	height: 100vh;
	width: 100vw;
	background-color: #0a0a0a;
}

.null:hover{
	background: #0A0A0A;
	filter: invert(1);
}

#button_e{
	text-align: center;
}

#button_e:hover{
	background-color: red;
}

#button_f{
	left: calc(50% - 96px);
	text-align: center;
}

#button_g{
	left: calc(50%);
	text-align: center;
}

#button_h{
	left: calc(50% + 96px);
	text-align: center;
}

#button_h:hover{
	background-color: #0055FF;
}




